@media (min-width: $MQNarrow) {
	header.navbar .links {
		display: flex;
		flex-direction: row-reverse;
		position: absolute;
	}

	div.search-box {
		margin-right: 0;
		padding-left: 1.5rem;
		border-radius: 2rem;

		input, .suggestions {
			width: 10em;
		}

		input:focus, .suggestions {
			width: 20em;
		}
	}
}

@media (max-width: $MQNarrow) {
	div.search-box {
		input {
			// prevent zooming on iOS
			font-size: 1rem;

			&:focus {
				width: 76vw;
			}
		}
	}
}

@media (max-width: $MQMobileNarrow) {
	.home-link {
		position: absolute;
		width: 45px;
		left: calc(50% - 45px / 2);
	}

	.search-box input:focus {
		width: 90vw;
	}
}
