@import 'util';
@import 'layout-center';
@import 'sidebar';
@import 'video';

#app {
	.navbar .logo {
		border-right: 1px solid $accentColorLight;
		margin-right: 0.7rem;
		padding-right: 0.7rem;
	}

	.site-name:after {
		content: 'beta';
		font-size: 0.6rem;
		margin-left: 0.3rem;
		position: relative;
		top: -7px;
		background-color: $highlightColor;
		padding: 0.2rem;
	}
}

:root {
	--accent-color: $accentColor;
	--text-color: $textColor;
	--border-color: $borderColor;
	--code-bg-color: $codeBgColor;
	--highlight-color: $highlightColor;
}
