#app
  .navbar .logo
    margin-right: 0.5rem
  .site-name:after
    content: "beta"
    font-size: 0.6rem
    margin-left: 0.5rem
    position: relative
    top: -7px
    background-color: #ffffa0
    padding: 0.2rem
    transition: all .5s
  .site-name
    &:hover
      &:after
        top: -9px