@import 'util';
@import 'buttons';
@import 'layout-center';
@import 'header';
@import 'sidebar';
@import 'video';

#app {
	.navbar {
		position: sticky;
	}

	.navbar .logo {
		height: 2.5rem;
		margin: 0;
		padding: 3px 3px 3px 0;
		vertical-align: top;
	}

	.site-name {
		font-size: 1.5rem;
		letter-spacing: -0.05rem;
		background: url('/images/ipfs-logo-text-black.svg') no-repeat;
		text-indent: -999px;
		min-width: 180px;
		min-height: 46px;
	}
}

:root {
	--accent-color: $accentColor;
	--text-color: $textColor;
	--border-color: $borderColor;
	--code-bg-color: $codeBgColor;
	--highlight-color: $highlightColor;
}
