// draft center layout
.theme-container, .navbar {
	@extend .max-w-screen-xl;
	@extend .mx-auto;
	@extend .relative;
}

.navbar {
	position: sticky;
}

.theme-default-content:not(.custom) {
	margin: inherit;

	& > h1 {
		padding-top: 1em;
	}
}

@media (min-width: $MQNarrow) {
	.sidebar {
		position: fixed;
		left: inherit;
		border-right: none;
	}

	div.search-box {
		margin-right: 0;
		border-radius: 2rem;

		input, .suggestions {
			width: 15em;
		}
	}

	footer.page-edit {
		margin: inherit;
	}
}

.theme-default-content:not(.custom) {
	margin: inherit;

	& > h1 {
		padding-top: 1em;
	}
}
