// colors
$accentColor = #5db5be;
$textColor = #000000cc;
$borderColor = #eaecef;
$codeBgColor = #0e2233;
$arrowBgColor = #ccc;
$badgeTipColor = #42b983;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;
$highlightColor = #ffffa0;
// layout
$navbarHeight = 4rem;
$sidebarWidth = 20rem;
$contentWidth = 740px;
// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;