.sidebar-group a.sidebar-link {
	padding-left: 1.25rem;
	color: $sidebarTextColor;
	font-weight: 500;
}

.sidebar {
	.sidebar-group .arrow {
		display: none;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		padding-left: 0.25rem;
	}

	.sidebar-group.is-sub-group > .sidebar-group-items {
		padding-left: 1.25rem !important;
	}

	.sidebar-group.is-sub-group {
		margin-bottom: 0.5rem;
	}

	.sidebar-group .sidebar-sub-headers {
		padding-left: 0.5rem;
	}

	.sidebar-links.sidebar-group-items li:last-child .sidebar-group.is-sub-group {
		margin-bottom: 0;
	}

	.sidebar-group.is-sub-group > .sidebar-heading {
		padding-left: 1.25rem !important;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		opacity: 1;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 0.025em;
		line-height: 2em;
		color: lighten($sidebarTextColor, 20%);
	}
}

.icon.outbound {
	padding-left: 0.2rem;
}
