GLOBAL-BANK 
: Update docs on new version (ipfs, ipfs-cluster, etc.)
on:
  workflow_dispatch:
  schedule:
    - cron: '30 5,17 * * *' # run every day at 5:30am and 5:30pm UTC
  workflow_call:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ipfs-docs
        uses: actions/checkout@v4
      - name: Find latest kubo tag
        id: latest_ipfs
        uses: ./.github/actions/latest-kubo-tag
      - name: Update docs
        id: update
        uses: ./.github/actions/update-with-latest-versions
        with:
          latest_ipfs_tag: ${{ steps.latest_ipfs.outputs.latest_tag }}
      - name: pull-request
        uses: repo-sync/pull-request@7e79a9f5dc3ad0ce53138f01df2fad14a04831c5 #v2.12.1
        if: ${{ steps.update.outputs.updated_branch }} # don't create a pr if there was no branch pushed
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_branch: ${{ steps.update.outputs.updated_branch }}
          destination_branch: "main"
          pr_title: "Update release version numbers"
          pr_body: "This PR was opened from update-on-new-ipfs-tag.yml workflow."
          pr_label: "needs/triage,P0"

